.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}


.div-content-modal{
    display: flex;
    justify-content: center;
}

.photo-modal{
    width: 800px;
    height: 500px;
}

.thumb{
    display: none !important;
}
