.img-skill{
    width: 100px;
}

.div-skills{
    padding-top: 8%;
    /* display: -webkit-box; */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Divide en dos columnas de igual ancho */
    gap: 10px; /* Espacio entre columnas */
}

.component-skill{
    margin: 2px;
}

.h1-skills{
    text-align: center;
}

