   /** Media Queries **/
  @media (max-width: 800px) {
   
    .menu {
      grid-template-columns: 10% auto 10% !important;
    }
    .menu .contenedor-menu a {
      font-size: 63% !important;
    }

    .titulo_nav, .titulo_nav-right{
      padding: 5px !important;
    }

    .div-photo{
      padding-left: 10%;
    }

    .fade-in, .profesion{
      font-size: 80%;
    }

    .div-photo{
      margin-top: 10%;
    }

    .fade-in{
      width: 100%;
      margin-left: 10%;  
    }

    .profesion{
      width: 100%;
      margin-left: 4%;
    }

  }

  *{
      /* font-family: "Monospace", monospace; */
  }

  .menu {
    justify-content: center;
    margin-top: 2rem;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    border-top: 0.1rem solid rgba(86, 86, 86, 0.5);
    border-bottom: 0.1rem solid rgba(86, 86, 86, 0.5);
    position: sticky;
    z-index: 11;
    top: 0;
    display: flex;
    /* grid-template-columns: 10% auto; */
  }

  .menu .contenedor-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
  }
  .menu .contenedor-menu a {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 0.9rem;
    line-height: 1rem;
    text-transform: uppercase;
  }
  .menu .contenedor-menu a:hover {
    color: #00FF00;
  }
  .menu {
    
    align-items: center;
    text-align: center;
  }
  .menu .idiomas img.active {
    opacity: 0.5;
  }
  .menu .idiomas img {
    width: 1.5rem;
  }
  .menu .idiomas img:hover {
    opacity: 0.5;
  }

  .titulo_nav {
    padding: 15px;
  }

  .titulo_nav-right {
    padding: 15px 15px 15px 0px;
  }

  .titulo_nav, .titulo_nav-right{
    cursor: pointer;
    font-weight: bold;
  }

  body {
    background-image: url("../img/backgroundMain.png");
  }

  header {
    width: 100%;
  }

  .span-avatar{
    background: #fff;
    position: absolute;
    border-radius: 10%;
    
  }
  

  .photo{
    width: 188px;
    height: 240px;
    border-radius: 10%;
  }

  .div-photo{
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .contenedor-header, .nombre{
    display: grid;
    justify-content: center;
    
  }

  .contenedor_header{
    padding-bottom: 10%;
    padding-top: 10%;
  }

  .nombre{
    font-size: 1.6rem;
    font-weight: bold;
  }

  .fade-in, .profesion{
    padding-top: 5%;
  }

  .contenedor-AboutMe, .contenedor-Skills, .contenedor-Footer{
    background-color: #ffffff;
  }

  .contenedor-AboutMe, .contenedor-Skills, .contenedor-Certifications{
    padding: 5% 20% 10% 20%;
  }

  .h1-Projects, .fade-in, .profesion, .h1-Certifications{
    padding-top: 10%;
    color: #ffffff;
    padding-bottom: 10%;
  }

  .h1-AboutMe, .fade-in, .h1-footer, .h1-skills{
    padding-top: 5%;
  }

  .h1-AboutMe {
    text-align: center;
    padding-bottom: 5%;
  }

  .end-footer{
    background-color: #acacac;
  }
  
  .a-end-footer{
    display: grid;
    text-align: center;
    color: black;
    text-decoration-line: none;
  }



.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta{
    height: 250px;
    width: 200px;
    background-color: #101010;
    border-radius: 10%;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta::before{
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-image: conic-gradient(#00FF00 20deg, transparent 120deg);
    animation: rotar 2s linear infinite;
}

@keyframes rotar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

.tarjeta::after{
    content: "";
    position: absolute;
    height: 240px;
    width: 190px;
    background-color: #ffffff00;
    border-radius: 10%;
    box-shadow: inset 16px 14px 20px #0000008c;;
}