   /** Media Queries **/
  @media (max-width: 800px) {
   
    .menu {
      grid-template-columns: 10% auto 10% !important;
    }
    .menu .contenedor-menu a {
      font-size: 63% !important;
    }

    .titulo_nav, .titulo_nav-right{
      padding: 5px !important;
    }

    .span-avatar{
      height: auto !important;
    }

    .photo{
      /* max-width: 30%; */
    }

    .div-photo{
      padding-left: 10%;
    }

    .fade-in, .profesion{
      font-size: 80%;
    }
  }

  .menu {
    justify-content: center;
    margin-top: 2rem;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    border-top: 0.1rem solid rgba(86, 86, 86, 0.5);
    border-bottom: 0.1rem solid rgba(86, 86, 86, 0.5);
    position: sticky;
    z-index: 11;
    top: 0;
    display: flex;
    /* grid-template-columns: 10% auto; */
  }

  .menu .contenedor-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
  }
  .menu .contenedor-menu a {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 0.9rem;
    line-height: 1rem;
    text-transform: uppercase;
  }
  .menu .contenedor-menu a:hover {
    color: #450cc9;
  }
  .menu {
    
    align-items: center;
    text-align: center;
  }
  .menu .idiomas img.active {
    opacity: 0.5;
  }
  .menu .idiomas img {
    width: 1.5rem;
  }
  .menu .idiomas img:hover {
    opacity: 0.5;
  }

  .titulo_nav {
    padding: 15px;
  }

  .titulo_nav-right {
    padding: 15px 15px 15px 0px;
  }

  .titulo_nav, .titulo_nav-right{
    font-weight: bold;
  }

  body {
    background-image: url("../img/backgroundMain.png");
  }

  header {
    width: 100%;
  }

  .span-avatar{
    background: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    display: inline-block;
    margin: 55px 75px 30px;
    padding: 15px 15px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .2s linear;
    z-index: 0;
    height: 55%;
    /* border-width: 10px;
    border-style:dashed; */
  }

  .photo{
    /* border-radius: 20px; */
    /* width: 40%;
    height: 50%; */
    display: block;
    /* max-width: 200px;
    max-height: 200px; */
    width: 150px;
    height: 170px;
    vertical-align: middle;
  }

  .div-photo{
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .contenedor-header, .nombre{
    display: grid;
    justify-content: center;
  }

  .contenedor_header{
    padding: 10%;
  }

  .nombre{
    font-size: 1.6rem;
    font-weight: bold;
  }

  .fade-in, .profesion{
    padding-top: 5%;
  }

  .contenedor-AboutMe, .contenedor-Skills, .contenedor-Footer{
    background-color: #ffffff; 
    /* e7dfdd */
  }

  .contenedor-Projects, .contenedor-AboutMe, .contenedor-Skills, .contenedor-Certifications{
    padding: 20%;
  }

  .h1-Projects, .fade-in, .profesion, .h1-Certifications{
    color: #ffffff;
  }